@charset "UTF-8"


p {
text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #DAFDBA;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    color: #012030;
    text-shadow: 1px 1px 2px black;
}

h2 { 
    color: #9AEBA3;
}
body {
    font-family: Arial, Helvetica, sans-serif;   
    background-image: linear-gradient(  to right, #13678A,#45C4B0);
    height: 100%;
}